<app-dates-container [dates]="dates" [selectedDate]="selectedDate" (selectDate)="selectDate($event)"></app-dates-container>
<label for="home-delivery" class="checkbox-label">
    <input id="home-delivery"
        *ngIf="!!selectedDate"
        type="checkbox"
        [checked]="onlyHomeDelivery"
        (change)="onHomeDeliveryClick()"
        class="checkbox"
    />
</label>
<app-slots-container [selectedSlot]="selectedTime" [slots]="filteredTimes" (selectSlot)="selectTime($event)"></app-slots-container>
<app-button 
    [disabled]="!selectedTime" 
    [routerLink]="['/','delivery-confirmation']"
    label="Continue"
></app-button>