.dates-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
  flex-direction: row;
  .date-card {
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &.selected {
        background-color: #cfebcd;
        box-shadow: inset 0 0 0 2px #60ab59;
    }
  }
}