.header {
    background-color: #ffecc7;
    height: 64px;
    position: relative;
    .back-button {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #26263a;
    }
    .mathem-logo {
        height: 36px;
        margin: auto;
        padding: 12px;
        display: block;
    }
}
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 80px);
    margin: 36px auto;
    height: 100%;
    padding: 24px;
    flex: 1;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
